
<div class="container" id="d01">
    <div class="card">
        <div class="card-body">
                <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Low</th>
                                <th>High</th>
                                <th>Close</th>
                                <th>Volume</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stock of stocks">
                                <td>{{stock.low}}</td>
                                <td>{{stock.high}}</td>
                                <td>{{stock.close}}</td>
                                <td>{{stock.volume}}</td>
                            </tr>
                        </tbody>
                </table>  
        </div>
    </div>
</div>
