<div>
    <sa-chart [stocks]="stocks"></sa-chart>
</div>


<div class="container" id="d02">
    <div class="row">        
        <div class="col d-flex justify-content-center">
            <h3 class="text-info">Pick a company to view their most recent stock values!</h3>
        </div>
    </div>
    <div class="row" id="boxrow">
        <div class="col-4 d-flex justify-content-center">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="company1" (change)="Test($event, 'MSFT')">
                <label class="custom-control-label" for="company1">Microsoft</label>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="company2" (change)="Test($event, 'GOOG')">
                <label class="custom-control-label" for="company2">Google</label>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="company3" (change)="Test($event, 'AMD')">
                <label class="custom-control-label" for="company3">AMD</label>
            </div>
        </div>
    </div>
</div>

<div class="container" id="d01">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Company</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Volume</th>
                        <th>Latest Trading Day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stock of stocks">
                        <td>{{stock.company}}</td>
                        <td>{{stock.high | currency}}</td>
                        <td>{{stock.low | currency}}</td>
                        <td>{{stock.volume | number:'5.0-0' }}</td>
                        <td>{{stock.latestTradingDay | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>